@charset "ISO-8859-1";

html {
    background-color: aliceblue;
}

body {
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.Navigation {
    background-color: dimgrey;
    color: gold;
}

.Navigation a:link{
    color: darkblue;
}

.Navigation a:visited{
    color: snow;
}
    .Navigation li {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        float: inherit;
        width: 30%;
    }

.CV {
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align: center;
    vertical-align:text-bottom;
    display:inline-grid; 
   
}
.Testing{
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align: justify;
    vertical-align:text-bottom;
    display:grid;
}
.DevOps{
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align: justify;
    vertical-align:text-bottom;
    display:grid;   
}

.Databases{
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align: justify;
    vertical-align:text-bottom;
    display:grid;   
}

.AWS{
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align: justify;
    vertical-align:text-bottom;
    display:grid;   
}

.Programming{
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align:justify;
    vertical-align:text-bottom;
    display:grid;   
}

.Hobbies {
    padding: 0px 10px 10px 10px;
    background-color: mintcream;
    color: dimgrey;
    text-align: center;
    vertical-align:text-bottom;
    display:inline-grid; 


