@charset "ISO-8859-1";

html {
    background-color: aliceblue;
}

body {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.Navigation {
    background-color: dimgrey;
    color: gold;
}

.Navigation a:link{
    color: darkblue;
}

.Navigation a:visited{
    color: snow;
}
    .Navigation li {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        float: inherit;
        width: 30%;
    }

.MainContent {
    padding: 0px 10px 10px 10px
}